* {
    box-sizing: border-box;
}

body {    
    background-image: url(../img/backgraund.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    margin: 0 79px 0 79px;
}

.header {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.40);
}

.header-logo {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.decoration:hover {
    text-decoration: underline;
}

.color-green:hover {
    color: #3CB878;
    stroke: #3CB878;
    fill: #3CB878;
}

.header-text-login {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.90);
}

.header-panel {
    height: 58px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 25px;
    align-items: center;
}

.main {
    margin-top: calc( (50vw - 593px - 36px - 58px) * 0.5);
    display: flex;    
}

.main-form {
    width: 444px;
    margin-inline: auto;   
    background-color: #FFFFFF;    
}

.main-form::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: relative;
    top: 29px;
}

.main-form-content {
    width: 324px;
    margin: 0 auto;
}

.main-form-login-options {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}

.main-sing-up {
    color: #434343;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.main-log-in {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.main-form-login-button {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;    
}

.main-button {
    width: 160px;
    height: 48px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;    
    padding-top: 17px;
    text-decoration: none;
    border-radius: 3px;
}

.facebook {
    background-color: #305DB8;
    padding-left: 67px;    
    position: relative;
}

.facebook::before {
    content: '';
    background-image: url(../img/F.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding-right: 13px;
    position: absolute;
    left: 11px;
    top: 12px;    
}

.facebook::after {
    content: '';    
    width: 1px;
    height: 28px;    
    position: absolute;
    left: 48px;
    top: 10px;
    background: rgba(10, 22, 47, 0.10);    
}

.googl {
    background-color: #DF4A32;
    padding-left: 80px;    
    position: relative;
}

.googl::before {
    content: '';
    background-image: url(../img/G+.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 19px;    
    position: absolute;
    left: 11px;
    top: 12px;    
}

.googl::after {
    content: '';    
    width: 1px;
    height: 28px;    
    position: absolute;
    left: 49px;
    top: 10px;
    background: rgba(10, 22, 47, 0.10);    
}

.main-form-text {
    margin-top: 31px;    
    font-size: 14px;
    color: #848484;
    font-family: Ubuntu;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.main-form-text::after {
    content: '';
    display: inline-block;    
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    left: 0;
    top: 8px;
    position: absolute;    
}

.main-form-text::before {
    content: '';
    display: inline-block;    
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    right: 0;
    top: 8px;
    position: absolute;    
}

.main-form-inform-text {
    height: 44px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-top: 15px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
}

.main-form-inform-text::placeholder {
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
}

.main-form-checkbox {
    margin-top: 12px;
}

.main-text-checkbox {
    
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: 5px;
}

.main-text-checkbox-grin {    
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
}

.main-form-checkbox {
    display: inline-block;
}

.main-form-checkbox > input {
    display: none;
}

.main-form-checkbox > label {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
}

.main-form-checkbox > input:checked + label {
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
}

.main-form-button {
    margin: 20px 0 38px 0;
    height: 46px;
    width: 100%;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    text-align: center;    
    border-style: none;
}

.main-block-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-form-inform-text:focus-visible {
    outline: 0;
}

.main-form-inform-text:focus {
    fill: #FFF;    
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    transition: 3s;
}

